* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    height: 2000px;
}

html{
    scroll-behaviour: smooth;
}

nav {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to right, #cc33ff 0%, #ff3399 100%);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header {
    font-size: 36px;
    font-weight: bold;
}

.links {
    display: flex;
    list-style: none;
}

.links li {
    margin: 0 15px;
    transition: opacity 0.3s ease;
    padding: 10px 20px;
}

.links li:hover {
    opacity: 0.7;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* hamburger icon */
@media screen and (max-width: 768px){
    .menu-toggle {
        display: block;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: linear-gradient(to right, #cc33ff 0%, #ff3399 100%);
        width: 100%;
        padding: 10px;
    }

    .links li {
        text-align: center;
        margin: 10px 0;
    }

    .links.show {
        display: flex;
    }
}

.content {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.first {
    font-size: 35px;
    margin: 20px 0;
    color: #DC1A8B;
    flex-shrink: 0;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: 20ch;
    animation: typing 3s steps(20) infinite, blink 0.5s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 30ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.img {
    width: 250px;
    height: auto;
    min-width: 100px; 
    vertical-align: middle;
    flex-shrink: 0;
}

.logo-container {
    position: absolute;
    top: 80px; 
    right: 50px; 
}

.second-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    width: 400px;
    height: auto;
    margin-left: 70px;
    margin-bottom: 20px;
    flex-shrink: 0;
}


.about-img {
    width: 100%;
    height: auto;
}

.about-text {
    margin-left: 40px; 
    flex: 1;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

.para {
    font-size: 14px;
    color: gray;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 1.8;
    text-align: justify;
}


